<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline" defaultHref="dashboard">
            </ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">{{"CharacterAssign.title" | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="character-assign-grid">
        <ion-row>
            <ion-col size="12">
                <ion-text color="primary">
                    <h5 class="ion-text-center bold section-title">{{"Basic.town" | translate}}</h5>
                </ion-text>
            </ion-col>
            <ion-col size="12">
                <ion-row>
                    <ion-col size="6" *ngFor="let player of townGamePlayers">
                        <player-item [name]="player.name" [selected]="!!player.assign_name"></player-item>
                        <ion-text color="primary">
                            <p class="assign-title" (click)="assignPlayer(player)">{{ player.assign_name || ("CharacterAssign.clickToAssign" | translate) }}</p>
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-text color="primary">
                    <h5 class="ion-text-center bold section-title">{{"Basic.mafia" | translate}}</h5>
                </ion-text>
            </ion-col>
            <ion-col size="12">
                <ion-row>
                    <ion-col size="6" *ngFor="let player of mafiaGamePlayers">
                        <player-item [name]="player.name" [selected]="!!player.assign_name"></player-item>
                        <ion-text color="primary">
                            <p class="assign-title" (click)="assignPlayer(player)">{{ player.assign_name || ("CharacterAssign.clickToAssign" | translate) }}</p>
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-text color="primary">
                    <h5 class="ion-text-center bold section-title">{{"Basic.neutrals" | translate}}</h5>
                </ion-text>
            </ion-col>
            <ion-col size="12">
                <ion-row>
                    <ion-col size="6" *ngFor="let player of neutralGamePlayers">
                        <player-item [name]="player.name" [selected]="!!player.assign_name"></player-item>
                        <ion-text color="primary">
                            <p class="assign-title" (click)="assignPlayer(player)">{{ player.assign_name || ("CharacterAssign.clickToAssign" | translate) }}</p>
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-text color="primary">
                    <h5 class="ion-text-center bold section-title">{{"Basic.cits" | translate}}</h5>
                </ion-text>
            </ion-col>
            <ion-col size="12">
                <ion-row>
                    <ion-col size="6" *ngFor="let player of civiliansGamePlayers">
                        <player-item [name]="player.name" [selected]="!!player.assign_name"></player-item>
                        <ion-text color="primary">
                            <p class="assign-title" (click)="assignPlayer(player)">{{ player.assign_name || ("CharacterAssign.clickToAssign" | translate) }}</p>
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-button class="bold" (click)="confirmSelection()" [disabled]="!playersAssignedProperly" expand="block" size="large">
                    {{"CharacterAssign.confirm" | translate}}
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
