<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline" defaultHref="tabs/dashboard">
            </ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">{{"CharacterSelection.title" | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="character-selection-grid">
        <ion-row>
            <ion-col size="12">
                <ion-text color="primary">
                    <h5 class="ion-text-center">{{"CharacterSelection.playersAmount" | translate}}</h5>
                </ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-item class="item-transparent">
                    <ion-range min="7" max="20" [value]="playersCount" (ionChange)="playersCountChanged($event)">
                        <ion-icon color="primary" slot="start" size="small" name="person-remove"></ion-icon>
                        <ion-icon color="primary" slot="end" name="person-add"></ion-icon>
                    </ion-range>
                </ion-item>
            </ion-col>
            <ion-col size="12" class="ion-text-center">
                <ion-text color="primary">
                    {{playersCount}}
                </ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-text color="primary">
                    <h5 class="ion-text-center bold section-title">{{"Basic.town" | translate}}</h5>
                </ion-text>
            </ion-col>
            <ion-col size="12">
                <ion-row class="scroll-players">
                    <ion-col size="5" *ngFor="let player of townPlayers">
                        <player-item [name]="player.name" [selected]="isPlayerSelected(player)" [selectable]="true"
                            (selectEvent)="selectPlayer(player)">
                        </player-item>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-text color="primary">
                    <h5 class="ion-text-center bold section-title">{{"Basic.mafia" | translate}}</h5>
                </ion-text>
            </ion-col>
            <ion-col size="12">
                <ion-row class="scroll-players">
                    <ion-col size="5" *ngFor="let player of mafiaPlayers">
                        <player-item [name]="player.name" [selected]="isPlayerSelected(player)" [selectable]="true"
                            (selectEvent)="selectPlayer(player)">
                        </player-item>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-text color="primary">
                    <h5 class="ion-text-center bold section-title">{{"Basic.neutrals" | translate}}</h5>
                </ion-text>
            </ion-col>
            <ion-col size="12">
                <ion-row class="scroll-players">
                    <ion-col size="5" *ngFor="let player of neutralPlayers">
                        <player-item [name]="player.name" [selected]="isPlayerSelected(player)" [selectable]="true"
                            (selectEvent)="selectPlayer(player)">
                        </player-item>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-text color="primary">
                    <h5 class="ion-text-center bold section-title">{{"Basic.cits" | translate}}</h5>
                </ion-text>
            </ion-col>
            <ion-col size="12">
                <ion-row>
                    <ion-col size="5">
                        <player-item [name]="'civilian'" [selected]="civilianCount > 0" [selectable]="true">
                        </player-item>
                    </ion-col>
                    <ion-col size="7" class="civilians-count-container">
                        <ion-text color="primary">
                            <p class="ion-text-center bold">{{civilianCount}}</p>
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-button class="bold" (click)="confirmSelection()" [disabled]="!playersSelectedProperly"
                    expand="block" size="large">
                    {{"CharacterSelection.confirm" | translate}}
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>