<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline" defaultHref="tabs/dashboard">
            </ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">{{"CharacterSelection.title" | translate}}</ion-title>
    </ion-toolbar>
    <toolbar-actions [config]="toolbarActionsConfig"></toolbar-actions>
</ion-header>

<ion-content>
    <ion-grid class="character-selection-grid">
        <ion-row>
            <ion-col size="12" class="ion-text-center">
                <ion-text color="primary">
                    <h5 class="ion-text-center">{{"CharacterSelection.playersAmount" | translate}}</h5>
                </ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" id="players-count" class="ion-text-center ion-no-padding">
                <ion-text color="primary">
                    <span *ngIf="selectedPlayersCount" id="selected-count">{{selectedPlayersCount}} /</span>
                    <span id="max-count">{{maxPlayersCount}}</span>
                </ion-text>
            </ion-col>
            <ion-col size="12">
                <ion-item class="item-transparent">
                    <ion-range min="7" max="30" [value]="maxPlayersCount" (ionChange)="playersCountChanged($event)">
                        <ion-icon color="primary" slot="start" size="small" name="person-remove"></ion-icon>
                        <ion-icon color="primary" slot="end" name="person-add"></ion-icon>
                    </ion-range>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-text color="primary section-title">
                    <h5 class="ion-text-center bold">
                        {{"Basic.town" | translate}}
                        <span class="section-count" *ngIf="playersConfig?.town">
                            <span class="selected">{{townSelectedPlayersCount}} /</span>
                            <span class="max">{{playersConfig.town.count}}</span>
                        </span>
                    </h5>
                    <config-table [type]="'town'"></config-table>
                </ion-text>
            </ion-col>
            <ion-col size="12">
                <ion-row class="scroll-players">
                    <ion-col size="5" *ngFor="let player of availablePlayers.town">
                        <player-item [name]="player.name" [selected]="isPlayerSelected(player)" [selectable]="true"
                            (selectEvent)="selectPlayer(player)">
                        </player-item>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-text color="primary">
                    <h5 class="ion-text-center bold section-title">
                        {{"Basic.cits" | translate}}
                    </h5>
                </ion-text>
            </ion-col>
            <ion-col size="12">
                <ion-row>
                    <ion-col size="5">
                        <player-item [name]="'townie'" [selected]="townieCount > 0" [selectable]="true">
                        </player-item>
                    </ion-col>
                    <ion-col size="7" class="townies-count-container">
                        <ion-text color="primary">
                            <p class="ion-text-center bold">{{townieCount}}</p>
                        </ion-text>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-text color="primary section-title">
                    <h5 class="ion-text-center bold">
                        {{"Basic.mafia" | translate}}
                        <span class="section-count" *ngIf="playersConfig?.mafia">
                            <span class="selected">{{mafiaSelectedPlayersCount}} /</span>
                            <span class="max">{{playersConfig.mafia.count}}</span>
                        </span>
                    </h5>
                    <config-table [type]="'mafia'"></config-table>
                </ion-text>
            </ion-col>
            <ion-col size="12">
                <ion-row class="scroll-players">
                    <ion-col size="5" *ngFor="let player of availablePlayers.mafia">
                        <player-item [name]="player.name" [selected]="isPlayerSelected(player)" [selectable]="true"
                            (selectEvent)="selectPlayer(player)">
                        </player-item>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-text color="primary section-title">
                    <h5 class="ion-text-center bold">
                        {{"Basic.neutrals" | translate}}
                        <span class="section-count" *ngIf="playersConfig?.neutral">
                            <span class="selected">{{neutralSelectedPlayersCount}} /</span>
                            <span class="max">{{playersConfig.neutral.count}}</span>
                        </span>
                    </h5>
                    <config-table [type]="'neutral'"></config-table>
                </ion-text>
            </ion-col>
            <ion-col size="12">
                <ion-row class="scroll-players">
                    <ion-col size="5" *ngFor="let player of availablePlayers.neutral">
                        <player-item [name]="player.name" [selected]="isPlayerSelected(player)" [selectable]="true"
                            (selectEvent)="selectPlayer(player)">
                        </player-item>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-item class="item-transparent">
                    <ion-checkbox color="primary" [(ngModel)]="gameWithNumbers"></ion-checkbox>
                    <ion-label color="primary" class="ion-margin-start">
                        {{"CharacterSelection.gameWithNumbers" | translate}}
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-button class="bold" (click)="confirmSelection()" [disabled]="!playersSelectedProperly"
                    expand="block" size="large">
                    {{"CharacterSelection.confirm" | translate}}
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>