$imageSize: 110%;
.player-item-container {
    &:not(.ion-no-padding) {
        padding: .5rem;
    }

    .image-container {
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: $imageSize;
            width: $imageSize;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("/assets/img/frame.png");
            z-index: -1;
        }

        img {
            width: 100%;
            mask-position: center;
            mask-repeat: no-repeat;
            mask-size: 100%;  
            mask-image: url("/assets/img/mask.png");
            mask-mode: alpha;
        }
    }

    &.selected:not(.killed) {
        .image-container {
            position: relative;
            z-index: 1;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: $imageSize;
                width: $imageSize;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url("/assets/img/frame-active.png");
                z-index: 2;
            }
        }
    }


    &.killed {
        img {
            filter: grayscale(1);
        }

        .name {
            color: var(--ion-color-gray);
        }
    }

    .name {
        font-size: .9rem;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        .character-info {
            font-size: .7rem;
            width: 1.4rem;
            height: 1.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--ion-color-primary);
            margin-bottom: .2rem;
        }
    }
}