<div [ngClass]="class" class="player-item-container" [class.killed]="gamePlayer && !gamePlayer?.user?.alive" [class.selected]="selected">
    <ion-row>
        <ion-col size="12" class="image-container" (click)="imageClick()">
            <img [src]="'/assets/img/characters/' + name + '.png'">
        </ion-col>
        <ion-col size="12" class="ion-text-center" (click)="labelClick()" *ngIf="withLabel">
            <ion-text class="bold name">
                {{ ("Characters." + name + ".name") | translate}}
                <span *ngIf="selectable" class="character-info">{{player?.symbol}}</span>
            </ion-text>
        </ion-col>
    </ion-row>
</div>
