<div [ngClass]="playerConfig.class" class="player-item-container" [class.killed]="playerConfig.gamePlayer && !playerConfig.gamePlayer?.user?.alive" [class.selected]="playerConfig.selected">
    <ion-row>
        <ion-col size="12" class="image-container" (click)="imageClick()" *ngIf="playerConfig.name">
            <img [src]="'/assets/img/characters/' + playerConfig.name + '.png'">
        </ion-col>
        <ion-col size="12" class="ion-text-center" (click)="labelClick()" *ngIf="playerConfig.showLabel">
            <ion-text class="bold name" color="light">
                {{ ("Characters." + playerConfig.name + ".name") | translate}}
                <span *ngIf="playerConfig.showSymbol" class="character-info">{{player?.symbol}}</span>
            </ion-text>
        </ion-col>
    </ion-row>
</div>
