<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center">{{"CharacterList.title" | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="character-list-grid">
        <div class="player-switch" *ngIf="isAnyOneKilled">
            <ion-checkbox color="primary" [(ngModel)]="showAlive"></ion-checkbox>
            <ion-label color="primary" class="ion-margin-start">
                {{"CharacterList.showAlive" | translate}}
            </ion-label>
        </div>
        <ion-row>
            <ion-col size="12">
                <ion-text color="primary">
                    <h5 class="ion-text-center bold section-title">{{"Basic.town" | translate}}</h5>
                </ion-text>
            </ion-col>
            <ion-col size="12">
                <ion-row>
                    <ng-container *ngFor="let player of gamePlayers?.town">
                        <ion-col size="6" *ngIf="!showAlive || (showAlive && player.user?.alive)">
                            <player-item [gamePlayer]="player" [name]="player.name" [selected]="true" [showInfoModal]="true"></player-item>
                            <ion-text class="list-title-container" [class.killed]="!player.user?.alive">
                                <div class="number" *ngIf="player.user?.number">{{player.user?.number}}</div>
                                <p class="assign-title">{{ player.user?.assign_name }}</p>
                            </ion-text>
                        </ion-col>
                    </ng-container>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-text color="primary">
                    <h5 class="ion-text-center bold section-title">{{"Basic.mafia" | translate}}</h5>
                </ion-text>
            </ion-col>
            <ion-col size="12">
                <ion-row>
                    <ng-container *ngFor="let player of gamePlayers?.mafia">
                        <ion-col size="6" *ngIf="!showAlive || (showAlive && player.user?.alive)">
                            <player-item [gamePlayer]="player" [name]="player.name" [selected]="true" [showInfoModal]="true"></player-item>
                            <ion-text class="list-title-container" [class.killed]="!player.user?.alive">
                                <div class="number" *ngIf="player.user?.number">{{player.user?.number}}</div>
                                <p class="assign-title">{{ player.user?.assign_name }}</p>
                            </ion-text>
                        </ion-col>
                    </ng-container>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-text color="primary">
                    <h5 class="ion-text-center bold section-title">{{"Basic.neutrals" | translate}}</h5>
                </ion-text>
            </ion-col>
            <ion-col size="12">
                <ion-row>
                    <ng-container *ngFor="let player of gamePlayers?.neutral">
                        <ion-col size="6" *ngIf="!showAlive || (showAlive && player.user?.alive)">
                            <player-item [gamePlayer]="player" [name]="player.name" [selected]="true" [showInfoModal]="true"></player-item>
                            <ion-text class="list-title-container" [class.killed]="!player.user?.alive">
                                <div class="number" *ngIf="player.user?.number">{{player.user?.number}}</div>
                                <p class="assign-title">{{ player.user?.assign_name }}</p>
                            </ion-text>
                        </ion-col>
                    </ng-container>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-text color="primary">
                    <h5 class="ion-text-center bold section-title">{{"Basic.cits" | translate}}</h5>
                </ion-text>
            </ion-col>
            <ion-col size="12">
                <ion-row>
                    <ng-container *ngFor="let player of gamePlayers?.townie">
                        <ion-col size="6" *ngIf="!showAlive || (showAlive && player.user?.alive)">
                            <player-item [gamePlayer]="player" [name]="player.name" [selected]="true" [showInfoModal]="true"></player-item>
                            <ion-text class="list-title-container" [class.killed]="!player.user?.alive">
                                <div class="number" *ngIf="player.user?.number">{{player.user?.number}}</div>
                                <p class="assign-title">{{ player.user?.assign_name }}</p>
                            </ion-text>
                        </ion-col>
                    </ng-container>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>