<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline" defaultHref="tabs/dashboard/character-assign"
                (click)="dismiss()">
            </ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">{{ ("Characters." + player.name + ".name")| translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="player-info-modal-grid">
        <ion-row class="ion-justify-content-center">
            <ion-col size="12">
                <ion-row class="ion-justify-content-center">
                    <ion-col size="8">
                        <ion-segment value="info" [(ngModel)]="segment">
                            <ion-segment-button value="info">
                                <ion-text color="light">{{"PlayerInfo.info" | translate}}</ion-text>
                            </ion-segment-button>
                            <ion-segment-button value="action" *ngIf="actionable">
                                <ion-text color="light">{{"PlayerInfo.action" | translate}}</ion-text>
                            </ion-segment-button>
                        </ion-segment>
                    </ion-col>

                    <ng-container [ngSwitch]="segment">
                        <ion-col size="10" *ngSwitchCase="'info'">
                            <ion-row>
                                <ion-col size="12" class="image-symbol">
                                    <img [src]="'/assets/img/characters/' + player.name + '.png'">
                                </ion-col>
                                <ion-col size="12" class="name-container ion-text-center">
                                    <div class="name">{{ ("Characters." + player.name + ".name") | translate }}</div>
                                </ion-col>
                                <ion-col size="12" class="symbol-container">
                                    <div class="symbol">{{player.symbol}}</div>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="12">
                                    <ion-text color="light" class="bold">
                                        {{ ("PlayerInfo.info") | translate}}
                                    </ion-text>
                                </ion-col>
                                <ion-col size="12">
                                    <ion-text color="light">
                                        <small>
                                            {{ ("Characters." + player.name + ".info") | translate }}
                                        </small>
                                    </ion-text>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="12" class="subheadline">
                                    <ion-text color="light" class="bold">
                                        {{ ("PlayerInfo.victoryCondition") | translate}}
                                    </ion-text>
                                </ion-col>
                                <ion-col size="12">
                                    <ion-text color="light">
                                        <small>
                                            {{ ("Characters." + player.name + ".victoryCondition") | translate }}
                                        </small>
                                    </ion-text>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="12" id="description-headline">
                                    <ion-text color="light">
                                        <small>
                                            {{ ("Characters." + player.name + ".descriptionHeadline") | translate }}
                                        </small>
                                    </ion-text>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="12" class="subheadline">
                                    <ion-text color="light" class="bold">
                                        {{ ("PlayerInfo.description") | translate}}
                                    </ion-text>
                                </ion-col>
                                <ion-col size="12">
                                    <ion-text color="light">
                                        <small>
                                            {{ ("Characters." + player.name + ".description") | translate }}
                                        </small>
                                    </ion-text>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col size="10" *ngSwitchCase="'action'">
                            <ion-button class="bold" (click)="kill()" expand="block" size="large" shape="round">
                                {{"PlayerInfo.kill" | translate}}
                            </ion-button>
                        </ion-col>
                    </ng-container>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>