<div class="history-item-container">
    <ion-row>
        <ion-col size="3">
            <img [src]="item.type | historyItemImage" [alt]="item.type">
        </ion-col>
        <ion-col size="9">
            <ion-row class="info-container">
                <ion-col size="12" class="ion-text-center">
                    <ion-text class="message" color="primary">
                        <span *ngIf="item.destinationPlayer?.user">
                           {{ item.destinationPlayer?.user?.assign_name }} <ion-icon name="arrow-forward-outline"></ion-icon>
                        </span>
                        {{ "History." + item.type + "Message" | translate }}
                    </ion-text>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
</div>