.icon-container {
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    right: 1.25rem;
    padding: .5rem 1rem;
    line-height: 2rem;
    z-index: 10;
    color: var(--ion-color-primary-contrast);
}

.actions {
    position: fixed;
    top: 42px;
    right: 0;
    background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    z-index: 10;
    padding: 1.25rem 1rem .25rem;
    border-bottom-left-radius: .5rem;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .5s ease;

    &.visible {
        transform: scaleY(1);
    }

    .action-item {
        padding: .25rem 0;
        border-top: 1px solid var(--ion-color-primary-shade);
        font-size: .9rem;
    }
}