.assign-modal-grid {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .name-input {
        margin: 2px;
        border: 2px solid var(--ion-color-primary) !important;
        color: var(--ion-color-primary);
        border-radius: 5px;
    }
}