/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root,
:host,
html,
body {
    --ion-color-primary: #791212 !important;
    --ion-color-primary-rgb: 121, 18, 18 !important;
    --ion-color-primary-contrast: #ffffff !important;
    --ion-color-primary-contrast-rgb: 255, 255, 255 !important;
    --ion-color-primary-shade: #470b0b !important;
    --ion-color-primary-tint: #ae1d1d !important;

    --ion-color-secondary: #020000 !important;
    --ion-color-secondary-rgb: 2, 0, 0 !important;
    --ion-color-secondary-contrast: #ffecec !important;
    --ion-color-secondary-contrast-rgb: 255, 255, 255 !important;
    --ion-color-secondary-shade: #000000 !important;
    --ion-color-secondary-tint: #420b0b !important;

    --ion-color-gray: #bdbdbd !important;

    --ion-toolbar-background: var(--ion-color-primary) !important;
    --ion-toolbar-color: #ffecec !important;
    --ion-color-light: #f6e4e4 !important;
}

@font-face {
    font-family: 'Glegoo';
    src: url('/assets/fonts/Glegoo-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Glegoo';
    src: url('/assets/fonts/Glegoo-Bold.ttf');
    font-weight: 600;
}

* {
    font-family: Glegoo !important;
}

ion-grid {
    background: var(--ion-color-secondary);
    min-height: 100%;
    $circleSize: 12rem;

    &::before,
    &::after {
        position: fixed;
        content: "";
        height: $circleSize;
        width: $circleSize;
        background: radial-gradient(var(--ion-color-primary), var(--ion-color-secondary));
        filter: blur(calc($circleSize / 2.5));
        border-radius: 50%;
        z-index: 2;
    }

    &::before {
        left: calc(-1 * calc($circleSize / 2));
        bottom: 2rem;
    }

    &::after {
        right: calc(-1 * calc($circleSize / 2));
        top: 11rem;
    }

    &>* {
        position: relative;
    }

    ion-col {
        z-index: 3;
    }

    .on-bottom {
        z-index: 1;
    }
}

ion-button {
    --box-shadow: none;
    font-weight: 400;
    text-transform: inherit;
    position: relative;

    &.with-icon ion-icon {
        position: absolute;
        font-size: 2rem;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &:not(.button-disabled) {
        --box-shadow: 0.25rem 0.5rem 1.5rem -1rem var(--ion-color-primary-tint);
    }
}

.custom-alert {
    .alert-wrapper {
        contain: layout;
        border-radius: 1rem;
        background-color: var(--ion-color-primary-shade);
    }

    h2 {
        font-size: 1.1rem !important;
        font-weight: 400 !important;
        text-align: center;
        color: var(--ion-color-primary-contrast) !important;
    }

    .alert-message {
        font-size: 0.9rem;
        text-align: center;
        color: var(--ion-color-secondary-tint);
        font-weight: 400;
        padding-bottom: 1rem;

        &:not(:empty) {
            padding-top: 1rem !important;
        }
    }

    .alert-checkbox-group {
        background: var(--ion-color-primary-shade);
        border: none;

        .alert-checkbox-label {
            color: var(--ion-color-secondary-contrast);
        }
    }

    .alert-button-group {
        display: flex;
        background: var(--ion-color-primary-shade);
        border-radius: 1rem;

        button {
            flex-grow: 1;
            padding: 0;
            height: 2.25rem;
            border: 1px solid var(--ion-color-primary);
            background: var(--ion-color-primary);
            color: var(--ion-color-primary-contrast);
            border-radius: 2rem;
            margin: 0 0.5rem;
            transform: translateY(50%);

            &.alert-button-role-cancel {
                background: var(--ion-color-primary-contrast);
                color: var(--ion-color-primary);
            }
        }

        span {
            justify-content: center;
            text-transform: capitalize;
            font-size: 1rem;
            font-weight: 400;
        }
    }
}

ion-buttons~ion-title {
    margin-left: -48px;
}

ion-checkbox {
    --background: rgba(0, 0, 0, 0);
    --border-color: var(--ion-color-primary);
}

ion-checkbox+ion-label {
    font-size: .9rem !important;
}

ion-segment-button {
    --indicator-color: var(--ion-color-primary);
}

ion-header {
    background: var(--ion-color-secondary);

    ion-toolbar {
        --padding-top: 0.5rem;
        --padding-bottom: 0.5rem;
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;

        ion-title {
            font-weight: 500;
        }
    }
}

.center-grid {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bold {
    font-weight: bold;
}

.item-transparent {
    --background: rgba(0, 0, 0, 0);
    --border-color: var(--ion-color-primary-shade);
}

.section-title {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        height: 10px;
        bottom: -16px;
        left: 30%;
        right: 30%;
        background-image: url("/assets/img/bottom.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}