/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root, :host, html, body {
    --ion-color-primary: #d9a43b !important;
    --ion-color-primary-rgb: 217, 164, 59 !important;
    --ion-color-primary-contrast: #000000 !important;
    --ion-color-primary-contrast-rgb: 0, 0, 0 !important;
    --ion-color-primary-shade: #836323ae !important;
    --ion-color-primary-tint: #f0b642 !important;

    --ion-color-secondary: #630f0f !important;
    --ion-color-secondary-rgb: 99, 15, 15 !important;
    --ion-color-secondary-contrast: #ffffff !important;
    --ion-color-secondary-contrast-rgb: 255, 255, 255 !important;
    --ion-color-secondary-shade: #470b0b !important;
    --ion-color-secondary-tint: #801414 !important;

    --ion-color-gray: #bdbdbd !important;

    --ion-toolbar-background: #d9a43b !important;
    --ion-toolbar-color: #000000 !important;
}

@font-face {   
    font-family: 'Glegoo';
    src: url('/assets/fonts/Glegoo-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Glegoo';
    src: url('/assets/fonts/Glegoo-Bold.ttf');
    font-weight: 600;
}

* {
    font-family: Glegoo !important;
}

ion-content {
    --background: var(--ion-color-secondary) url("assets/img/background.png") 50% 50%/96% 96% no-repeat;
}

ion-buttons ~ ion-title {
    margin-left: -48px;
}

ion-checkbox {
    --background: rgba(0, 0, 0, 0);
    --border-color: var(--ion-color-primary);
}

.center-grid {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bold {
    font-weight: bold;
}

.item-transparent {
    --background: rgba(0, 0, 0, 0);
    --border-color: var(--ion-color-primary-shade);
}

.section-title {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        height: 10px;
        bottom: -16px;
        left: 30%;
        right: 30%;
        background-image: url("/assets/img/bottom.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}